@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

$siteColor1: #20c6fe;
$marginBottom: 30px;
$sidePadding: 30px;

$font1: 'M PLUS Rounded 1c', sans-serif;

@charset "utf-8";

/* 共通のスタイル */
* {
  box-sizing: border-box;
}

body {
  color: #555;
  font-family: $font1;
}

header {
  width: 100%;
  height: 80px;
  background-color: $siteColor1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-shadow: 1px 1px 3px #808080;
  margin-bottom: $marginBottom;
  h1 {
    margin-right: auto;
    margin-left: 30px;
    a {
      font-size: 2.5rem;
      color: #fff;
      text-decoration: none;
    }
  }
  nav#gloval-nav {
    width: 35%;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        a {
          text-decoration: none;
          color: #fff;
          transition: color 0.15s ease;
          &:hover {
            color: #eee;
          }
        }
      }
    }
  }
  a.account {
    font-size: 3rem;
    text-shadow: none;
    color: #fff;
    margin-right: 30px;
  }
  // div.menu-icon {
  // }
}

#wrap {
  width: 100%;
  margin: 0 auto;
  // background: red;
  margin-bottom: $marginBottom;
  padding: 0 $sidePadding;
  section#profileArea {
    width: 100%;
    height: 480px;
    margin-bottom: $marginBottom;
    // background: blue;
    display: flex;
    justify-content: space-between;
    .profile {
      height: 100%;
      width: 40%;
      border-radius: 10px;
      border: 2px solid rgba(0, 0, 0, 0.4);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      padding: 10px;
    }
    .profile_left {
      // background: orange;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 14rem;
        color: $siteColor1;
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
      }
      p#nickname {
        font-size: 1.5rem;
      }
      p.profile_sentence {
        font-weight: normal;
        font-size: 1.1rem;
        width: 80%;
        line-height: 1.5rem;
      }
      div.relations {
        width: 70%;
        display: flex;
        justify-content: space-between;
        p {
          font-size: 1rem;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .profile_right {
      // background: green;
      padding: 0;
      div.profile_perform {
        padding: 20px;
        width: 100%;
        // background: darkgreen;
        p {
          &:first-child {
            font-weight: bold;
          }
        }
        div#performArea {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          // background: red;
          p {
            font-size: 1.2rem;
          }
          .graph {
            margin-top: 20px;
          }
        }
      }
    }
  }
  section#pastArea {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: $marginBottom;
    background-color: #f6cf77;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    .sectionTitle {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #f1642f;
      font-size: 1.7rem;
    }
    div.q-area {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .flex-item-past {
        width: 20%;
        height: 85%;
        background: #fff;
        transition: box-shadow .06s ease-in;
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        }
        &:last-child {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f1642f;
          font-size: 1.2rem;
          border: 5px solid #f1642f;
          transition:
            background-color 0.1s ease-in,
            color 0.1s ease-in
          ;
          &:hover {
            box-shadow: none;
            color: #fff;
            background-color: #f1642f;
          }
        }
        div.q-up {
          width: 100%;
          height: 75%;
          background-color: #eee;
          display: flex;
          justify-content: center;
          align-items: center;
          .lang-icon {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: #fff;
              font-size: 1.8rem;
              font-weight: bold;
            }
          }
        }
        div.q-un {
          position: relative;
          width: 100%;
          height: 25%;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            // width: 90%;
            padding-top: 3px;
            font-weight: bold;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  section#favoArea {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: $marginBottom;
    background-color: #88ff8a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px;
    .sectionTitle {
      position: absolute;
      top: 20px;
      left: 20px;
      color: #10c223;
      font-size: 1.7rem;
    }
    div.q-area {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;
      .flex-item-favo {
        width: 30%;
        height: 42%;
        // margin-bottom: 20px;
        background: #fff;
        transition: box-shadow .06s ease-in;
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        }
        div.q-up {
          width: 100%;
          height: 75%;
          background-color: #eee;
          display: flex;
          justify-content: center;
          align-items: center;
          .lang-icon {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              color: #fff;
              font-size: 1.8rem;
              font-weight: bold;
            }
          }
        }
        div.q-un {
          position: relative;
          width: 100%;
          height: 25%;
          padding: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            // width: 90%;
            padding-top: 3px;
            font-weight: bold;
            font-size: 0.9rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: $siteColor1;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    color: #fff;
    text-shadow: 1px 1px 3px #808080;
    font-size: 1.1rem;
  }
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lang-php {background-color: #8892be}
.lang-python {background-color: #4584b6}
.lang-ruby {background-color: #cc342d}
.lang-js {background-color: #f7df1e}


/* ### ドロワーメニュー ### */
#nav-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 32px;
  cursor: pointer;
}
#nav-toggle > div {
  position: relative;
  width: 36px;
}
#nav-toggle span {
  width: 100%;
  height: 2.5px;
  left: 0;
  display: block;
  background: #fff;
  position: absolute;
  -webkit-transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: top .5s ease, -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out, top .5s ease;
  transition: transform .6s ease-in-out, top .5s ease, -webkit-transform .6s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 14px;
}
#nav-toggle span:nth-child(3) {
  top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span {
  background: #fff;
}
.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}
.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#drawer-nav {
  background: $siteColor1;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: -webkit-box;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 29px;
  opacity: 0;
  -webkit-transition: opacity .6s ease, visibility .6s ease;
  transition: opacity .6s ease, visibility .6s ease;
}

#drawer-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  -webkit-transition: color .6s ease;
  transition: color .15s ease;
  text-shadow: none;
  margin-bottom: 20px;
  i {
    margin-right: 8px;
  }
}
#drawer-nav a:hover {
  color: #ddd;
}
#drawer-nav ul {
  list-style: none;
}
#drawer-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: opacity .2s ease, -webkit-transform .6s ease;
  transition: transform .6s ease, opacity .2s ease;
  transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
}
#drawer-nav ul li:nth-child(2) {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}
#drawer-nav ul li:nth-child(3) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
#drawer-nav ul li:nth-child(4) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}
#drawer-nav ul li:nth-child(5) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
#drawer-nav ul li:nth-child(6) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
#drawer-nav ul li:nth-child(7) {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

/* open */
.open {
  overflow: hidden;
}
.open #drawer-nav {
  visibility: visible;
  opacity: 1;
}
.open #drawer-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: opacity .9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity .9s ease;
  transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
}


/* ########### 599px以下 ########### */
@media (max-width: 599px) {
  header h1 {
    margin-left: 15px;
  }

  header h1 a {
    font-size: 1.7rem;
  }

  header nav#gloval-nav {
    display: none;
  }

  header a.account {
    display: none;
  }

  #wrap {
    padding: 0 15px;
  }

  #wrap section#profileArea {
    height: 950px;
    flex-direction: column;
    align-items: center;
  }

  #wrap section#profileArea .profile {
    width: 100%;
    height: 48%;
  }
  #wrap section#profileArea .profile_left i {
    font-size: 9.5rem;
  }

  #wrap section#profileArea .profile_left p.profile_sentence {
    font-size: 1rem;
    width: 90%;
  }

  #wrap section#profileArea .profile_left div.relations p {
    font-size: 0.8rem;
    &:last-child {
      margin-left: 5px;
    }
  }

  #wrap section#profileArea .profile_right div.profile_perform div#performArea p {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: bold;
  }

  #wrap section#pastArea {
    height: 900px;
  }

  #wrap section#pastArea .sectionTitle {
    position: relative;
    top: 0;
    left: 0;
    color: #f1642f;
    font-size: 1.2rem;
  }

  #wrap section#pastArea div.q-area {
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #wrap section#pastArea div.q-area .flex-item-past {
    width: 90%;
    height: 22%;
  }

  #wrap section#pastArea div.q-area .flex-item-past:last-child {
    width: 65%;
    font-size: 1.05rem;
    margin-bottom: 10px;
  }

  #wrap section#favoArea {
    height: 1500px;
  }

  #wrap section#favoArea .sectionTitle {
    position: relative;
    top: 0;
    left: 0;
    color: #10c223;
    font-size: 1.2rem;
  }

  #wrap section#favoArea div.q-area {
    justify-content: center;
    align-items: center;
  }

  #wrap section#favoArea div.q-area .flex-item-favo {
    width: 90%;
    height: 13%;
    &:last-child {
      margin-bottom: 15px;
    }
  }

  footer div{
    font-size: 0.85rem;
  }
}



/* ########### 600px以上～768px以下 ########### */
@media (min-width: 600px) and (max-width: 768px) {
  header nav#gloval-nav {
    display: none;
  }

  header a.account {
    display: none;
  }

  #wrap section#profileArea .profile {
    width: 47%;
  }

  #wrap section#profileArea .profile_left i {
    font-size: 12rem;
  }

  #wrap section#profileArea .profile_left div.relations p {
    font-size: 0.7rem;
  }

  #wrap section#pastArea {
    height: 500px;
  }

  #wrap section#pastArea div.q-area {
    flex-wrap: wrap;
  }

  #wrap section#pastArea div.q-area .flex-item-past {
    width: 45%;
    height: 40%;
  }

  #wrap section#pastArea div.q-area .flex-item-past:last-child {
    width: 30%;
    margin-right: 45px;
    margin-bottom: 15px;
  }

  #wrap section#favoArea {
    height: 800px;
  }

  #wrap section#favoArea div.q-area .flex-item-favo {
    width: 45%;
    height: 27%;
  }
}



/* ########### 769px以上 ########### */
@media (min-width: 769px) {
  #nav-toggle {
    display: none;
  }
}



/* ########### 1000px以上 ########### */
@media (min-width: 1000px) {
  #wrap {
    width: 1000px;
  }
}
